<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" href="../css/style2.css">
    <link rel="stylesheet" href="../css/boot.css">
    <link rel="stylesheet" href="../css/opcao.css">
    
   
    <title> Entrar no Sistema </title>
</head>
<body>
<header class="main_header">
        <div class="main_header_content">
            <a href="#" class="logo">
                <img src="../img/newslogo.png" width="125px" alt="Bem vindo ao projeto " title="Bem vindo ao projeto"></a>

            <nav class="main_header_content_menu">
                <ul>
                    <li><a href="../View/assinatura.php">Voltar</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <!--FIM DOBRA CABEÇALHO-->

    <main>
        <div>
            <section class="main_course">
                
                <header class="main_course_header"> <h1>Escolha a forma de pagamento</h1></header>
                
                <div class="ajust">
                    <article>
                        <h2>PIX</h2>
                        <header>
                            <p>
                                <a href="../View/pix.html">
                                    <img src="../Img/pix.webp" alt="Cadastro" title="Cadastro" width="400" height="300">
                                </a>
                            </p>
                        </header>
                    </article>
                    <article>
                        <h2>Cartão de Crédito</h2>
                        <header>
                            <p>
                                <a href="../View/cartaoCredito.html">
                                    <img src="../Img/cartaoCredito.png" alt="Cadastro" title="Cadastro" width="400" height="300">
                                </a>
                            </p>
                        </header>
                    </article>
                                       
                </div>
            </section>
        </div>
    </main>




</body>

</html>